<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="./css/styles.css" rel="stylesheet" type="text/css"/>
  <script src="./menu2.js" type="text/javascript"> </script>
  <link rel="stylesheet" type="text/css" href="slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
</head>

<body>
  <header>
    <a href="#home"> <img src="./img/logos/logo-small.svg"></a>
    <a href="#checkout" style="float: right;"><h3>Check Out</h3></a>
  </header>

  <button class="back"></button>

  <div class="page" id="home">
    <div class="subpage" id="home">
      <h1>Welcome to Hawaiian Bros!</h1>
      <h2>Select an option below to add it to your order.</h2>
      <div class="homepage">
        <div class="hp-sub">
          <a href="#drink">
          <img src="./img/order-icons/drink-large.png" />
          <h3>drinks</h3>
          </a>
        </div>
        <div class="hp-sub">
          <a href="#food">
          <img src="./img/order-icons/plate-classic.png" />
          <h3>plates</h3>
          </a>
        </div>
        <div class="hp-sub">
          <a href="#sides">
          <img src="./img/order-icons/side.png" />
          <h3>sides</h3>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="page" id="drink">
    <div class="subpage" id="drink-main">
      <h2>Select a drink:</h2>
      <ul class="drink" id="drink-list">
        <li><img class="icon" src="./img/drinks/soft/coke-Parent.png"/>Coke</li>
        <li><img class="icon" src="./img/drinks/soft/coke-zero-Parent.png"/>Diet Coke</li>
        <li><img class="icon" src="./img/drinks/soft/Diet-Coke-Parent.png"/>Coke Zero</li>
        <li><img class="icon" src="./img/drinks/soft/Fanta_Bubble_Regular.png"/>Fanta Orange</li>
        <li><img class="icon" src="./img/drinks/soft/Mello-Yello-Parent.png"/>Mello Yello</li>
        <li><img class="icon" src="./img/drinks/soft/Minute-Maid-Lemonade2.png"/>Lemonade</li>
        <li><img class="icon" src="./img/drinks/soft/DrPepper_Bubble_Regular.png"/>Dr Pepper</li>
        <li><img class="icon" src="./img/drinks/soft/Sprite_Bubble_Regular.png"/>Sprite</li>
      </ul>
      <ul class="drink" id="drink-others">
        <li>Water Bottle</li>
        <li>Hawaiian Sun</li>
        <li>Tea</li>
      </ul>
    </div>

    <div class="subpage" id="hawaiian-sun">
      <h2>Choose your flavor:</h2>
      <ul class="drink" id="hawaiian-sun-list">
        <li>Guava Nectar <img class="icon" src="./img/drinks/hs/GN2.jpg"/></li>
        <li>Lilikoi Passion <img class="icon" src="./img/drinks/hs/LP2.jpg"/></li>
        <li>Luau Punch <img class="icon" src="./img/drinks/hs/LP.jpg"/></li>
        <li>Passion Orange <img class="icon" src="./img/drinks/hs/PAO.jpg"/></li>
        <li>Pass-O-Guava Nectar <img class="icon" src="./img/drinks/hs/POG2.jpg"/></li>
        <li>Strawberry Lilikoi <img class="icon" src="./img/drinks/hs/SL.jpg"/></li>
      </ul>
    </div>

    <div class="subpage" id="drink-tea">
      <h2>Choose your flavor:</h2>
      <ul class="drink" id="drink-tea">
        <li>Unsweetened Iced Tea</li>
        <li>Sweetened Iced Tea</li>
        <li>Raspberry Iced Tea</li>
        <li>Sweet Green Iced Tea</li>
      </ul>
    </div>

    <div class="subpage" id="drink-size">
      <h2>Select a size:</h2>
      <ul class="drink" id="drink-size">
        <li>Medium</li>
        <li>Large</li>
      </ul>
    </div>
  </div>

  <div class="page" id="food">
    <!-- NON-MIXED PLATES -->
    <div class="subpage" id="food-main">
      <h2>Choose your entree:</h2>
      <ul class="food">
        <li>1. Huli Huli Chicken</li>
        <li>
          2. Molokai Chicken
        </li>
          <input type="checkbox" name="hot"> Hot </input>
        <li>3. Honolulu Chicken</li>
        <li>4. Grilled Vegetables</li>
        <li>5. Luau Pork</li>
        <li>6. Pacific Island Salad</li>
        <li>Luau Pork Sandwich</li>
        <li>Huli Huli Chicken Sandwich</li>
        <li>Mixed Plate</li>
        <li>Custom Plate</li>
      </ul>
    </div>

    <div class="subpage" id="food-size">
      <h2>Choose your size:</h2>
      <ul class="food">
        <li>Small</li>
        <li>Classic</li>
        <li>Large</li>
      </ul>

    </div>

    <!-- MIXED PLATES-->
    <div class="subpage" id="food-mixed-plate-1">
      <h2>Choose your first entree:</h2>
      <ul class = "food">
        <li>1. Huli Huli Chicken</li>
        <li>
          2. Molokai Chicken
        </li>
          <input type="checkbox" name="hot"> Hot </input>
        <li>3. Honolulu Chicken</li>
        <li>4. Grilled Vegetables</li>
        <li>5. Luau Pork</li>
      </ul>

    </div>

    <div class="subpage" id="food-mixed-plate-2">
      <h2>Choose your second entree:</h2>
      <ul class = "food">
        <li>1. Huli Huli Chicken</li>
        <li>
          2. Molokai Chicken
        </li>
          <input type="checkbox" name="hot"> Hot </input>
        <li>3. Honolulu Chicken</li>
        <li>4. Grilled Vegetables</li>
        <li>5. Luau Pork</li>
      </ul>

    </div>

    <div class="subpage" id="food-mixed-plate-3">
      <h2>Choose your size:</h2>
      <ul class = "food">
        <li>Classic</li>
        <li>Large</li>
      </ul>

    </div>
  </div>

  <div class="page" id="sides">
    <div class="subpage" id="sides-main">
      <ul class="sides">
        <li>Rice</li>
        <li>Mac Salad</li>
        <li>Grilled Vegetables</li>
        <li>Pineapple</li>
      </ul>

    </div>
  </div>

  <div class="page" id="plateBuilder">
    <div class="plate">
      <table id="plate">
        <tbody>
          <tr>
            <td id="side1">
              text
            </td>
            <td id="side2">
              text
            </td>
          </tr>
          <tr>
            <td id="bun">
              text
            </td>
            <td id="bed">
              text
            </td>
            <td id="entree">
              text
            </td>
          </tr>
        </tbody>
      </table>

      <table id="salad" style="display:none">
        <tbody>
          <tr>
            <td id="salad"><img src="./img/classic/salad_lettuce.png"/></td>
          </tr>
        </tbody>
      </table>

      <button class="custom-plate">Add to order!</button>

    </div>

    <sidebar>
      <div class="tab" id="plate">
        <span class="tab-head" id="plate"><h2>Plate</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="plate" value="small"> Small </input>
            <input type="radio" name="plate" value="classic" checked> Classic </input>
            <input type="radio" name="plate" value="large"> Large </input>
            <input type="radio" name="plate" value="salad"> Salad </input>
            <input type="radio" name="plate" value="sandwich"> Sandwich </input>
          </form>
        </div>
      </div>

      <div class="tab" id="entree">
        <span class="tab-head" id="entree"><h2>Entree</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="entree" value="1" checked>
              Huli Huli Chicken
            </input>
            <input type="radio" name="entree" value="2">
              Molokai Chicken
            </input>
            <input type="radio" name="entree" value="3">
              Honolulu Chicken
            </input>
            <input type="radio" name="entree" value="4">
              Grilled Vegetables
            </input>
            <input type="radio" name="entree" value="5">
              Luau Pig
            </input>
          </form>
          <form>
            <input type="checkbox" name="entree" value="_extra">
              Extra Entree
            </input>
            <input type="checkbox" name="entree" value="locarb">
              Low Carb
            </input>
          </form>
          <form id="locarb" style="display:none">
            <input type="radio" name="locarb" value="veg">
              Vegetables
            </input>
            <input type="radio" name="locarb" value = "lettuce">
              Lettuce
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="bed">
        <span class="tab-head" id="bed"><h2>Bed</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="bed" value="rice" checked>
              Rice
            </input>
            <input type="radio" name="bed" value="veg">
              Grilled Vegetables
            </input>
            <input type="radio" name="bed" value="none">
              No Bed
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="side1">
        <span class="tab-head" id="side1"><h2>Side 1</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="side1" value="rice" checked>
              Rice
            </input>
            <input type="radio" name="side1" value="mac">
              Macaroni Salad
            </input>
            <input type="radio" name="side1" value="veg">
              Grilled Vegetables
            </input>
            <input type="radio" name="side1" value="pine">
              Pineapple
            </input>
          </form>
          <form>
            <input type="checkbox" name="side1" value="_extra">
              Extra
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="side2">
        <span class="tab-head" id="side2"><h2>Side 2</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="side2" value="rice" checked>
              Rice
            </input>
            <input type="radio" name="side2" value="mac">
              Macaroni Salad
            </input>
            <input type="radio" name="side2" value="veg">
              Grilled Vegetables
            </input>
            <input type="radio" name="side2" value="pine">
              Pineapple
            </input>
          </form>
          <form>
            <input type="checkbox" name="side2" value="_extra">
              Extra
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="bun">
          <span class="tab-head" id="bun"><h2>Bun</h2></span>
          <div class="tab-content">
            <form>
              <input type="checkbox" name="bun" value="_toasted" checked>Toasted</input>
              <input type="checkbox" name="bun" value="_mayo" checked>Mayo</input>
            </form>
          </div>
      </div>

      <div class="tab" id="salad">
        <span class="tab-head" id="salad"><h2>Salad</h2></span>
        <div class="tab-content">
          <form>
            <input type="checkbox" name="salad" value="_oranges" checked>Oranges</input>
            <input type="checkbox" name="salad" value="_chowMein" checked>Chow Mein</input>
            <input type="checkbox" name="salad" value="_cilantro" checked>Cilantro</input>
            <input type="checkbox" name="salad" value="_mushrooms" checked>Mushrooms</input>
            <input type="checkbox" name="salad" value="_grOnions" checked>Green Onions</input>
          </form>
        </div>
      </div>

    </sidebar>
  </div>

  <div class="page" id="checkout">
    <div class="subpage" id="checkout-main">
      <h1>Review Your Order</h1>
      <ul class="checkout-js"></ul>
      <button id="checkout">Check Out</id>
    </div>
  </div>

  <footer>
    <div class="footer-content">
    </div>
  </footer>


  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
</body>

</html>
