<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="./styles.css" rel="stylesheet" type="text/css"/>
  <script src="./menu.js" type="text/javascript"> </script>
</head>

<body>
  <header>
    <h1>h. bros</h1>
  </header>

  <div class="flex-container">
    <main>
      <table id="plate">
        <tbody>
          <tr>
            <td id="side1">
              text
            </td>
            <td id="side2">
              text
            </td>
          </tr>
          <tr>
            <td id="bun">
              text
            </td>
            <td id="bed">
              text
            </td>
            <td id="entree">
              text
            </td>
          </tr>
        </tbody>
      </table>

      <table id="salad" style="display:none">
        <tbody>
          <tr>
            <td id="salad"><img src="./img/classic/salad_lettuce.png"/></td>
          </tr>
        </tbody>
      </table>
    </main>

    <sidebar>
      <div class="tab" id="plate">
        <span class="tab-head" id="plate"><h2>Plate</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="plate" value="small"> Small </input>
            <input type="radio" name="plate" value="classic" checked> Classic </input>
            <input type="radio" name="plate" value="large"> Large </input>
            <input type="radio" name="plate" value="salad"> Salad </input>
            <input type="radio" name="plate" value="sandwich"> Sandwich </input>
          </form>
        </div>
      </div>

      <div class="tab" id="entree">
        <span class="tab-head" id="entree"><h2>Entree</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="entree" value="1" checked>
              Huli Huli Chicken
            </input>
            <input type="radio" name="entree" value="2">
              Molokai Chicken
            </input>
            <input type="radio" name="entree" value="3">
              Honolulu Chicken
            </input>
            <input type="radio" name="entree" value="4">
              Grilled Vegetables
            </input>
            <input type="radio" name="entree" value="5">
              Luau Pig
            </input>
          </form>
          <form>
            <input type="checkbox" name="entree" value="_extra">
              Extra Entree
            </input>
            <input type="checkbox" name="entree" value="locarb">
              Low Carb
            </input>
          </form>
          <form id="locarb" style="display:none">
            <input type="radio" name="locarb" value="veg">
              Vegetables
            </input>
            <input type="radio" name="locarb" value = "lettuce">
              Lettuce
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="bed">
        <span class="tab-head" id="bed"><h2>Bed</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="bed" value="rice" checked>
              Rice
            </input>
            <input type="radio" name="bed" value="veg">
              Grilled Vegetables
            </input>
            <input type="radio" name="bed" value="none">
              No Bed
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="side1">
        <span class="tab-head" id="side1"><h2>Side 1</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="side1" value="rice" checked>
              Rice
            </input>
            <input type="radio" name="side1" value="mac">
              Macaroni Salad
            </input>
            <input type="radio" name="side1" value="veg">
              Grilled Vegetables
            </input>
            <input type="radio" name="side1" value="pine">
              Pineapple
            </input>
          </form>
          <form>
            <input type="checkbox" name="side1" value="_extra">
              Extra
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="side2">
        <span class="tab-head" id="side2"><h2>Side 2</h2></span>
        <div class="tab-content">
          <form>
            <input type="radio" name="side2" value="rice" checked>
              Rice
            </input>
            <input type="radio" name="side2" value="mac">
              Macaroni Salad
            </input>
            <input type="radio" name="side2" value="veg">
              Grilled Vegetables
            </input>
            <input type="radio" name="side2" value="pine">
              Pineapple
            </input>
          </form>
          <form>
            <input type="checkbox" name="side2" value="_extra">
              Extra
            </input>
          </form>
        </div>
      </div>

      <div class="tab" id="bun">
          <span class="tab-head" id="bun"><h2>Bun</h2></span>
          <div class="tab-content">
            <form>
              <input type="checkbox" name="bun" value="_toasted" checked>Toasted</input>
              <input type="checkbox" name="bun" value="_mayo" checked>Mayo</input>
            </form>
          </div>
      </div>

      <div class="tab" id="salad">
        <span class="tab-head" id="salad"><h2>Salad</h2></span>
        <div class="tab-content">
          <form>
            <input type="checkbox" name="salad" value="_oranges" checked>Oranges</input>
            <input type="checkbox" name="salad" value="_chowMein" checked>Chow Mein</input>
            <input type="checkbox" name="salad" value="_cilantro" checked>Cilantro</input>
            <input type="checkbox" name="salad" value="_mushrooms" checked>Mushrooms</input>
            <input type="checkbox" name="salad" value="_grOnions" checked>Green Onions</input>
          </form>
        </div>
      </div>

    </sidebar>
  </div>

  <footer>

  </footer>

</body>

</html>
