.flex-container {
  display:flex;
}

main {
  background-color: #eee;
  width: 70%;
  position: relative;
  height: 100%;
}
table {
  width: 100%;
  table-layout: fixed;
  border: 2px solid black;
}
td {
  border: 1px solid black;
}

sidebar {
  background-color: #ccc;
  width: 30%;
  position: relative;
}

div.tab {
  border: 1px solid black;
  padding: 0 auto 0 auto;
}
div.tab-content {
  display: none;
  border: 1px solid black;
}

img {
  width: auto;
  height: auto;
}

td#salad img {
  position: absolute;
}
